*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "./colors";
@import "./basicPage";
@import "./page1";
@import "./page2";
@import "./page3";
@import "./page4";
@import "./page5";
@import "./IMG";